@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #b5ffff;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #80ffd5;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #c2246e;
}
a:link {
  text-decoration: none;
  color: red;
}
p {
  text-indent: 50px;
  text-align: justify;
}
.foot {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(1, 7, 2, 0.87);
  padding-top: 5rem;
}
.list {
  padding-bottom: 15rem;
}
.dur {
  padding-top: 1.5rem;
}
