@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

h1,
h2 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  color: #7393b3;
  margin: 20px;
}
* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/01.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
img {
  border-radius: 80%;
  height: 30rem;
  width: 300px;
  height: 300px;
  border: 10px solid rgb(135, 206, 235);
}

/* from here? */
span {
  color: #e5e4e2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-style: italic;
}
.counter {
  color: rgb(132, 69, 204);
  font-weight: bold;
}
.visitors {
  text-align: center;
  padding-top: 9rem;
}
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: rgb(81, 139, 161);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}
